*.pyc
*.egg-info

dist/
build/
public/
docs/api/
.pytest_cache/
notion/__pycache__/
tests/__pycache__/
smoke_tests/__pycache__/

# make clean will remove files above this line
# --------------------------------------------

.env
.venv
.idea/
