requests==2.24.0
commonmark==0.9.1
beautifulsoup4==4.9.1
tzlocal==2.1
python-slugify==4.0.1
dictdiffer==0.8.1
cached-property==1.5.1
markdown2==2.3.9
mistletoe==0.7.2
black==19.10b0
pytest==5.4.3
dominate==2.5.1
